@font-face{font-family:'Achafexp';src:url(Achafexp.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Action_Is';src:url(Action_Is.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'AdineKirnberg_Alternate';src:url(AdineKirnberg_Alternate.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Aguafina_Script';src:url(Aguafina_Script.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Alex_Brush_Regular';src:url(Alex_Brush_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Allura';src:url(Allura.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Alpha54';src:url(Alpha54.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Angelinos';src:url(Angelinos.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Angelos';src:url(Angelos.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Anpad_Script';src:url(Anpad_Script.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Anther_Clo';src:url(Anther_Clo.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Arizonia';src:url(Arizonia.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Barb_Ink';src:url(Barb_Ink.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Beech';src:url(Beech.TTF);font-weight:400;font-style:normal}
@font-face{font-family:'Beyond_Wonderland';src:url(Beyond_Wonderland.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Bilbo';src:url(Bilbo.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Bilbo_Swash_Caps';src:url(Bilbo_Swash_Caps.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Bird_Stencil';src:url(Bird_Stencil.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Birds';src:url(Birds.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Birds_One';src:url(Birds_One.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Birds_Two';src:url(Birds_Two.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Birdz';src:url(Birdz.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Black_Chancery';src:url(Black_Chancery.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Black_Jack';src:url(Black_Jack.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Black_Rose';src:url(Black_Rose.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Blackletter';src:url(Blackletter.TTF);font-weight:400;font-style:normal}
@font-face{font-family:'Border_Cats';src:url(Border_Cats.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Brock_Script';src:url(Brock_Script.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Bullpen';src:url(Bullpen.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Burnstown_Dam';src:url(Burnstown_Dam.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Butterflies';src:url(Butterflies.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Butterfly';src:url(Butterfly.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Butterfly_Heaven';src:url(Butterfly_Heaven.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Calligraffiti';src:url(Calligraffiti.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Carolingia_Bigfoot';src:url(Carolingia_Bigfoot.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Carrington';src:url(Carrington.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Caslon_Calligraphic';src:url(Caslon_Calligraphic.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Casper';src:url(Casper.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Cat_Art';src:url(Cat_Art.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Cat_Crypt';src:url(Cat_Crypt.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Champagne';src:url(Champagne.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Chopin_Script';src:url(Chopin_Script.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Christian_Cross_1';src:url(Christian_Cross_1.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Christian_Cross_2';src:url(Christian_Cross_2.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Christian_Cross_3';src:url(Christian_Cross_3.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Christian_Cross_4';src:url(Christian_Cross_4.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Christian_Cross_5';src:url(Christian_Cross_5.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Chunkfive';src:url(Chunkfive.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Claw';src:url(Claw.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Condiment';src:url(Condiment.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Cowboy_Hippie_Pro';src:url(Cowboy_Hippie_Pro.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Dancing_Script_Regular';src:url(Dancing_Script_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Daniel_Black';src:url(Daniel_Black.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Dark_Garden_MK';src:url(Dark_Garden_MK.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Deftone_Stylus';src:url(Deftone_Stylus.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Delicious_Roman';src:url(Delicious_Roman.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Designers_Skulls';src:url(Designers_Skulls.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Desyrel';src:url(Desyrel.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Deutsch_Gothic';src:url(Deutsch_Gothic.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Devroye';src:url(Devroye.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Die_Nasty';src:url(Die_Nasty.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Digital_Dream';src:url(Digital_Dream.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Distant_Galaxy';src:url(Distant_Galaxy.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'District_Thin';src:url(District_Thin.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Dobkin_Script';src:url(Dobkin_Script.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Dogg_Art';src:url(Dogg_Art.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Doggon';src:url(Doggon.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Dominatrix';src:url(Dominatrix.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Droid';src:url(Droid.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Dubiel_Plain';src:url(Dubiel_Plain.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Economica';src:url(Economica.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Edmunds';src:url(Edmunds.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Electroharmonix';src:url(Electroharmonix.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Elliot_Six';src:url(Elliot_Six.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Elvish_Ring (1)';src:url('Elvish_Ring%20(1/index.html).ttf');font-weight:400;font-style:normal}
@font-face{font-family:'Elvish_Ring';src:url(Elvish_Ring.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'England';src:url(England.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Eutemia';src:url(Eutemia.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Evilz';src:url(Evilz.TTF);font-weight:400;font-style:normal}
@font-face{font-family:'FFF_Forward';src:url(FFF_Forward.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Fancy_Pants';src:url(Fancy_Pants.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Fascinate';src:url(Fascinate.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Fjord_One';src:url(Fjord_One.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Flaemische_Kanzleischrift';src:url(Flaemische_Kanzleischrift.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Florante_at_Laura';src:url(Florante_at_Laura.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Flowers_Initials';src:url(Flowers_Initials.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Flowers_St';src:url(Flowers_St.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Follow_Your_Dreams';src:url(Follow_Your_Dreams.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Forque';src:url(Forque.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Forty_Second_Street';src:url(Forty_Second_Street.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Fotograami';src:url(Fotograami.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Freebooter_Script';src:url(Freebooter_Script.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Friday_13';src:url(Friday_13.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'GBShinto_Regular';src:url(GBShinto_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Gabriels_Angels';src:url(Gabriels_Angels.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Gauss_Jordan';src:url(Gauss_Jordan.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'GenzschEtHeyse';src:url(GenzschEtHeyse.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Georgia';src:url(Georgia.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Gotisch';src:url(Gotisch.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Grand_Hotel_Regular';src:url(Grand_Hotel_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Great_Vibes_Regular';src:url(Great_Vibes_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Griffin';src:url(Griffin.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'HD_design';src:url(HD_design.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Hamburger_Heaven';src:url(Hamburger_Heaven.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Haunting_Attraction';src:url(Haunting_Attraction.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Hawaiiah';src:url(Hawaiiah.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Heavy_Data';src:url(Heavy_Data.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Heidorn_Hill';src:url(Heidorn_Hill.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Henry_Morgan_Hand';src:url(Henry_Morgan_Hand.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Homoarak';src:url(Homoarak.TTF);font-weight:400;font-style:normal}
@font-face{font-family:'Husky_Stash';src:url(Husky_Stash.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Ill_Octo';src:url(Ill_Octo.TTF);font-weight:400;font-style:normal}
@font-face{font-family:'Iron_Maiden';src:url(Iron_Maiden.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'It_Lives_in_the_Swamp';src:url(It_Lives_in_the_Swamp.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Italianno';src:url(Italianno.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Kaushan_Script_Regular';src:url(Kaushan_Script_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Kiltro';src:url(Kiltro.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Kingthings_Calligraphica';src:url(Kingthings_Calligraphica.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Kremlin_Alexander';src:url(Kremlin_Alexander.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Lobster';src:url(Lobster.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Lupus_Blight';src:url(Lupus_Blight.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Medieval_Scribish';src:url(Medieval_Scribish.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Metal_Lord';src:url(Metal_Lord.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Metal_Macabre';src:url(Metal_Macabre.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Metro_RetroNF';src:url(Metro_RetroNF.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Mexican_Skull';src:url(Mexican_Skull.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'MiltonianTattoo_Regular';src:url(MiltonianTattoo_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Minstrel_Poster';src:url(Minstrel_Poster.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Monster_Mash';src:url(Monster_Mash.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Montez';src:url(Montez.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Mothproof_Script';src:url(Mothproof_Script.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Mountains_of_Christmas';src:url(Mountains_of_Christmas.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'MusiSync';src:url(MusiSync.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'NewRocker_Regular';src:url(NewRocker_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Niconne';src:url(Niconne.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Ninja_Turtle';src:url(Ninja_Turtle.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Note_This';src:url(Note_This.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Nurkholis';src:url(Nurkholis.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Old_School_Tattoo';src:url(Old_School_Tattoo.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Old_Stamper';src:url(Old_Stamper.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Only_Skulls';src:url(Only_Skulls.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Origami_Mommy';src:url(Origami_Mommy.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Ostrich';src:url(Ostrich.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Outright';src:url(Outright.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Pacifico';src:url(Pacifico.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Pickled_Pansies';src:url(Pickled_Pansies.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Pincoyablack';src:url(Pincoyablack.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Planet_Benson_2';src:url(Planet_Benson_2.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Plasma_Drip';src:url(Plasma_Drip.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Pleasingly_Plump';src:url(Pleasingly_Plump.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Portcullion';src:url(Portcullion.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Powderworks';src:url(Powderworks.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Precious';src:url(Precious.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Proclamate';src:url(Proclamate.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Promocyja';src:url(Promocyja.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Pusab';src:url(Pusab.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Qikki';src:url(Qikki.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Quantico';src:url(Quantico.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Quicksand';src:url(Quicksand.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Rabiohead';src:url(Rabiohead.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Redressed';src:url(Redressed.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Replicant';src:url(Replicant.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Reswysokr';src:url(Reswysokr.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'RibeyeMarrow_Regular';src:url(RibeyeMarrow_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Ribeye_Regular';src:url(Ribeye_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Riky_Vampdator';src:url(Riky_Vampdator.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Rochester';src:url(Rochester.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Rock_Salt';src:url(Rock_Salt.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Rothenburg_Decorative';src:url(Rothenburg_Decorative.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Royal_Initial';src:url(Royal_Initial.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Sail_Regular';src:url(Sail_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Samba';src:url(Samba.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Sansita';src:url(Sansita.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Schluss_Vignetten';src:url(Schluss_Vignetten.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'SciFly_Sans';src:url(SciFly_Sans.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Scratch';src:url(Scratch.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Scriptina';src:url(Scriptina.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Sentinel';src:url(Sentinel.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Sevillana';src:url(Sevillana.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Shelley';src:url(Shelley.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Showboat';src:url(Showboat.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Skittlesn_Beer_NF';src:url(Skittlesn_Beer_NF.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Skull_Bearer';src:url(Skull_Bearer.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Skull_X';src:url(Skull_X.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Skull_Z';src:url(Skull_Z.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Sloe_Gin_Rickey';src:url(Sloe_Gin_Rickey.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Smiley_Face';src:url(Smiley_Face.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Smokum';src:url(Smokum.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Snickles';src:url(Snickles.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Sofadi_One';src:url(Sofadi_One.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Sofia';src:url(Sofia.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Soft_Sugar';src:url(Soft_Sugar.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Sonsie_One';src:url(Sonsie_One.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Soul_of_Holitter';src:url(Soul_of_Holitter.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Spacejunk_XL';src:url(Spacejunk_XL.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Speakeasy';src:url(Speakeasy.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'SpeedballNo2NF';src:url(SpeedballNo2NF.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Spicy_Rice';src:url(Spicy_Rice.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Spilt_Ink';src:url(Spilt_Ink.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Spincy_Cyle';src:url(Spincy_Cyle.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Sports_World';src:url(Sports_World.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Spring_Time';src:url(Spring_Time.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Stardos_Stencil';src:url(Stardos_Stencil.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'State_Birds';src:url(State_Birds.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Streetwise_Buddy';src:url(Streetwise_Buddy.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Tagapagsalaysay';src:url(Tagapagsalaysay.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Tangerine_Regular';src:url(Tangerine_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Tattoo_Girl';src:url(Tattoo_Girl.TTF);font-weight:400;font-style:normal}
@font-face{font-family:'Tattoo_Like';src:url(Tattoo_Like.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Team_Spirit';src:url(Team_Spirit.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Technique';src:url(Technique.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Teen';src:url(Teen.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Teitheas';src:url(Teitheas.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Terylene_Top';src:url(Terylene_Top.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'The_Godfather_v2';src:url(The_Godfather_v2.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Theo_Van_Doesburg';src:url(Theo_Van_Doesburg.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Thiamine';src:url(Thiamine.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Together_Again';src:url(Together_Again.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Transuranium';src:url(Transuranium.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Tribal_Garamond';src:url(Tribal_Garamond.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Tribal_One';src:url(Tribal_One.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Tribal_Two';src:url(Tribal_Two.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Tribeca';src:url(Tribeca.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'UA_Square';src:url(UA_Square.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'UnZialish';src:url(UnZialish.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Underworld';src:url(Underworld.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Unicorn';src:url(Unicorn.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Unispace';src:url(Unispace.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Velezodiac';src:url(Velezodiac.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Velvenda_Cooler';src:url(Velvenda_Cooler.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Windsong';src:url(Windsong.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'ZOEGraphic_Regular';src:url(ZOEGraphic_Regular.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Zallman_Caps';src:url(Zallman_Caps.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Zombie_Holocaust';src:url(Zombie_Holocaust.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Zombified';src:url(Zombified.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'Zreaks';src:url(Zreaks.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'csnpwdt_NFI';src:url(csnpwdt_NFI.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'sybil_green';src:url(sybil_green.ttf);font-weight:400;font-style:normal}
@font-face{font-family:'telegrama_raw';src:url(telegrama_raw.ttf);font-weight:400;font-style:normal}
