@font-face{font-family:'Butterfly';src:url('Butterfly.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Gabriels_Angels';src:url('Gabriels_Angels.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Angelos';src:url('Angelos.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'love_romance_tt';src:url('love_romance_tt.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Animal-Fonts';src:url('Animal-Fonts.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Skull-Tattoos';src:url('Skull-Tattoos.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Wing-Tattoos';src:url('Wing-Tattoos.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Cat-Tattoos';src:url('Cat-Tattoos.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Cross-Tattoos';src:url('Cross-Tattoos.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Fish-Tattoos';src:url('Fish-Tattoos.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Zodiac-Tattoo';src:url('Zodiac-Tattoo.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Heart-Tattoos';src:url('Heart-Tattoos.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Flower-Tattoos';src:url('Flower-Tattoos.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Star-Tattoos';src:url('Star-Tattoos.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Diamond-Fonts';src:url('Diamond-Fonts.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Music-Tattoo';src:url('Music-Tattoo.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Eagle-Tattoo';src:url('Eagle-Tattoo.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Cartoon-Tattoo';src:url('Cartoon-Tattoo.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Apple-Tattoo';src:url('Apple-Tattoo.ttf');font-weight:normal;font-style:normal}
